 body {
     margin-top: 30px;
 }

 #roomArea {
     display: none;
     margin-bottom: 5em;
 }

 #initArea {
     display: none;
 }

 #dailyArea {
     display: none;
 }

 #vimeoArea {
     display: none;
 }

 #HTML5Area {
     display: none;
 }

 #page {
     display: none;
 }

 /* Loader */

 #loading {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 100;
     width: 100vw;
     height: 100vh;
     background-color: rgba(192, 192, 192, 0.5);
     background-image: url("/img/loader.gif");
     background-repeat: no-repeat;
     background-position: center;
 }

 html, body {
     max-width: 100%;
     overflow-x: hidden;
 }

 .headsize {
     padding-top: 7em;
     padding-bottom: 1em;
 }

 .bg-primary {
     background-color: #FF5A60 !important;
 }

 .mobile-hide {
     display: none;
 }

 .nonmobile-hide {
     display: block;
 }

 .center {
     display: block;
     margin: auto;
     width: 50%;
     padding: 10px;
     text-align: center;
 }

 .startform {
     width: 100%;
     display: block;
     margin: auto;
     padding: 5px;
     text-align: center;
 }

 .random {
     margin: 10px;
     height: 30px;
     width: 120px;
     padding: 2px;
     background-color: black;
 }

 .right-header {
     float: right;
     color: gray;
 }

 .inv_input {
     margin: 0 auto;
     display: block;
     text-align: center;
     width: 22em;
 }

 .form-control-static {
     min-height: 34px;
     padding-top: 7px;
     padding-bottom: 7px;
     margin-bottom: 0;
 }

 .form-control-static.input-lg, .form-control-static.input-sm {
     padding-right: 0;
     padding-left: 0;
 }

 .input-sm {
     height: 30px;
     padding: 5px 10px;
     font-size: 12px;
     line-height: 1.5;
     border-radius: 3px;
 }

 select.input-sm {
     height: 30px;
     line-height: 30px;
 }

 textarea.input-sm, select[multiple].input-sm {
     height: auto;
 }

 .form-group-sm .form-control {
     height: 30px;
     padding: 5px 10px;
     font-size: 12px;
     line-height: 1.5;
     border-radius: 3px;
 }

 .form-group-sm select.form-control {
     height: 30px;
     line-height: 30px;
 }

 .form-group-sm textarea.form-control, .form-group-sm select[multiple].form-control {
     height: auto;
 }

 .form-group-sm .form-control-static {
     height: 30px;
     min-height: 32px;
     padding: 6px 10px;
     font-size: 12px;
     line-height: 1.5;
 }

 .well {
     min-height: 20px;
     padding: 19px;
     margin-bottom: 20px;
     background-color: #f5f5f5;
     border: 1px solid #e3e3e3;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 }

 .well blockquote {
     border-color: #ddd;
     border-color: rgba(0, 0, 0, .15);
 }

 .well-lg {
     padding: 24px;
     border-radius: 6px;
 }

 .well-sm {
     padding: 9px;
     border-radius: 3px;
 }

 .chat {
     width: 500px;
     height: 300px;
     overflow: scroll;
     border: 1px solid gray;
 }

 .message-well {
     margin-bottom: 8px !important;
 }

 .chat-form {
     width: 500px;
 }

 .online-users {
     padding: 5px !important;
     float: right;
     /* padding-right: 11em; */
     height: 140px;
     width: 270px;
     overflow: scroll;
 }

 .invite-button {
     height: 90px;
     width: 90px;
 }

 .chat-users {
     padding: .2rem 1rem !important;
     padding-right: 10em !important;
 }

 .noscrollbar {
     /* These rules create an artificially confined space, so we get
     a scrollbar that we can hide. They are not part of the hiding itself. */
     /* border: 1px dashed gray;
  padding: .5em; */
     /* white-space: pre-wrap; */
     /* height: 5em; */
     overflow-y: scroll;
 }

 .noscrollbar::-webkit-scrollbar {
     /* This is the magic bit */
     display: none;
 }

 .form-group {
     margin-bottom: 15px;
 }

 .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
     position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
 }

 .video {
     position: relative;
     z-index: 102;
 }

 #persoff {
     background: #000;
     opacity: 0.9;
     filter: alpha(opacity=90);
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
 }

 .tooltip {
     position: relative;
     display: inline-block;
 }

 .tooltip .tooltiptext {
     visibility: hidden;
     width: 140px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px;
     position: absolute;
     z-index: 1;
     bottom: 150%;
     left: 50%;
     margin-left: -75px;
     opacity: 0;
     transition: opacity 0.3s;
 }

 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
 }

 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }

 /* PLAYLIST? */

 .vid-list-container {
     width: 92%;
     overflow: hidden;
     margin-top: 20px;
     margin-left: 4%;
     padding-bottom: 20px;
 }

 .vid-list {
     /* Width is made large to support a lot of videos, can be more but will make a second row */
     width: 13440px;
     position: relative;
     top: 0;
     left: 0;
 }

 .vid-item {
     display: block;
     width: 148px;
     height: 170px;
     float: left;
     margin: 0;
     padding: 10px;
 }

 .thumb {
     overflow: hidden;
     height: 110px;
 }

 .thumb img {
     width: 100%;
     position: relative;
     top: -13px;
 }

 .vid-item .desc {
     color: #21A1D2;
     font-size: 15px;
     margin-top: 5px;
 }

 .arrows {
     position: relative;
     width: 100%;
 }

 .arrow-left {
     color: #fff;
     position: absolute;
     background: #777;
     padding: 15px;
     left: -25px;
     top: -130px;
     z-index: 99;
     cursor: pointer;
 }

 .arrow-right {
     color: #fff;
     position: absolute;
     background: #777;
     padding: 15px;
     right: -25px;
     top: -130px;
     z-index: 100;
     cursor: pointer;
 }

 @media (max-width: 624px) {
     .arrows {
         position: relative;
         margin: 0 auto;
         width: 96px;
     }
     .arrow-left {
         /* left: 0; */
         top: -20px;
     }
     .arrow-right {
         /* right: 0; */
         top: -20px;
     }
 }

 .topbotmargins {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 /* GHOST BUTTONS */

 .ghost-button-full-color {
     float: right;
     display: inline-block;
     width: 25px;
     padding-bottom: 10px;
     /* height: 25px; */
     /* padding: 8px; */
     color: #000;
     background-color: transparent;
     /* border: 2px solid #fff; */
     text-align: center;
     outline: none;
     text-decoration: none;
     transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
 }

 .ghost-button-full-color:hover, .ghost-button-full-color:active {
     background-color: #e05555;
     border-color: #e05555;
     color: #fff;
     transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
 }

 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
 }

 .hide {
     display: none;
 }
